<!DOCTYPE html>
<html>
<head>
	<title>Add a Student Detials</title>
	
	 <meta charset="utf-8" name="viewport" 
        content= "width=device-width, initial-scale=1.0"> 	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<script type="text/javascript" src = "../js/bootstrap.js"></script>
	<meta charset="utf-8" name="viewport" 
        content= "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/addstyle.css">
</head>
<body>

<div class="box">

<div id="left" >
  <a href="index.html"><i class="material-icons" style="font-size:48px;color:red">arrow_back</i></a>
	<h1>Add <br>Student<br> Details</h1></div>
<div id="right" > 
<form  method="post" id="myf"  >
<table>
	<tr>
		<td>
			<span><input type="number" class="inp" name="id" placeholder="Student ID" required></span>
		</td>
		<td>
			<span><input id = "name" class="inp" type="text" name="name" placeholder="Student Name" required ></span>
			<span id="conname" class="error"></span>
		</td>
	</tr>
	<tr>
		
		<td><input type="radio" name="gen" value="Male" class="gen"> Male</td><td><input type="radio" name="gen" value="Female" class="gen"> Female</td>
	</tr>
	<tr>
		
		<td>
			<span><input id="city" class="inp" type="text" name="city" placeholder="City" required></span>
			<span id="concity" class="error"></span>
		</td>
		
		<td>
			<span><input type="text" class="inp" name="state" placeholder="State" id="state"></span>
			<span id="constate" class="error"></span>
		</td>
	</tr>
	<tr>
		
		<td>
			<span><input type="email" class="inp" name="email" placeholder="Email" id="mail"></span>
		</td>

	</tr>
	<tr>
		<td>
			<span><input type="text" class="inp" name="qualification" placeholder="Qualification" id="qualification"></span>
			<span id="conql" class="error"></span>
		</td>
	
		
		<td>
			<span><input type="text" name="st" class="inp"  placeholder="Stream" id="stream"></span>
			<span id="consst" class="error"></span>
		</td>
	</tr>
</table>
<button id="btn" type="submit" name="submit"> Submit </button>
</form>

<div class="container" id="result">
	
		   


</div>

</div>
</div>

<script type="text/javascript">
	
document.getElementById ("btn").addEventListener ("click", function (){
			event.preventDefault();
		var valid = true; 
		var alpha = new RegExp ("^[a-zA-Z ]+$");
		var name = document.getElementById ("name").value;
		var conname = document.getElementById ("conname"); 
		var concity = document.getElementById ("concity");
		var city = document.getElementById ("city").value;
		var state = document.getElementById ("state").value;
		var constate = document.getElementById ("constate");
		var qualification = document.getElementById ("qualification").value;
		var conql = document.getElementById ("conql"); 
		var stream = document.getElementById ("stream").value;
		var consst = document.getElementById ("consst"); 
		
		conname.innerHTML= ""; 
		concity.innerHTML= ""; 
		constate.innerHTML= ""; 
		conql.innerHTML= ""; 
		consst.innerHTML= ""; 



		if (!( alpha.test (name) )){
			
			conname.innerHTML = "Only Alphabets are allowed"; 
			valid = false; 

		}


		
		
		 
		if (!( alpha.test (city) )){
			
			concity.innerHTML = "Only Alphabets are allowed"; 
			valid = false; 

		}



 
		if (!( alpha.test (state) )){
			console.log (alpha.test (state)); 
			constate.innerHTML = "Only Alphabets are allowed"; 
			valid = false; 

		}



		if (!( alpha.test (qualification) )){
					conql.innerHTML = "Only Alphabets are allowed"; 
					valid = false; 

				}
		
			
		if (!( alpha.test (stream) )){
					consst.innerHTML = "Only Alphabets are allowed"; 
					valid = false; 

				}
				if (valid) {
					sendReq (); 

				} 

	} );


	function sendReq (){
	
		

		var formElement = document.getElementById("myf");
		var xhr  = new XMLHttpRequest () ;

	 	xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("result").innerHTML = this.responseText;
      }
    };
    xhr.open ("post", " ../server/add.php");
	xhr.send (new FormData (formElement));  
		
}

</script>

</body>
</html>