<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<script type="text/javascript" src = "js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div>
	
		
	 
<div class="navbar">Welcome Admin</div>
<div><h3>College Student's Database</h3></div>
<div class="container">
	<div class="row">
	<div class="col" id="as">
		
				<i > </i>
				<a href="add.html" target=""><span>Add</span> </a> 
			

			

	</div>
	<div class="col " id="ss">
		
			
				<a href="search.html" target=""><span>Search </span></a> 
			

		
	</div>
		<div class="col "id="ds">
		
			
				<a href="display.html" target=""><span>Display </span></a>
			

		
	</div>
	</div>
	
	
	</div>

<footer>
	<span> <a href="../index.html">Log Out</a> </span>

</footer>


</div>
</body>
</html>