body {
font-family: 'Arima Madurai', cursive;
font-family: 'Libre Baskerville', serif;
background-color: #ff1d58;
color: white;
}


.navbar {
margin : 10px; 
background-color: #f6b319;
	
	font-size: 40px;
	 text-align: center;
	height : 100px; 
}

.navbar>span {
	position: absolute;
right: 20px;
margin-top: -5px;
}

form {

 
margin-left: 03%;
height: 150px;
border: 2px solid #3F0C1F;
width: 94.5%;

}
td > input {
	margin-left: 10px;
}
td>span  {
	font-weight: bold;
	margin-left: 10px;
	font-size: 30px;
}



#btn {
	 background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}


i{margin-top: 0px;
	margin-left: 0px;
position: absolute;
left:0;
top:0;
}

#student {
		  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 95%;
		  margin-top: 100px;
		  font-size: 20px;


		}

		#student td, #student th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		#student tr:nth-child(even){background-color: #f2f2f2;}

		#student tr:hover {background-color: #ddd;}

		#student th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #4CAF50;
		  color: white;
		}

#error  {
	font-size: 30px; 
	color: white; 

}

#table {
	margin-left: 5%;
	margin-top: 5%;
}